@font-face {
  font-family: 'BebasNeue';
  src: url("/fonts/BebasNeue.otf"); }

@font-face {
  font-family: 'BEYNO';
  src: url("/fonts/BEYNO.ttf"); }

@font-face {
  font-family: 'iconfont';
  /* project id 1136188 */
  src: url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.eot");
  src: url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.woff2") format("woff2"), url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.woff") format("woff"), url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.ttf") format("truetype"), url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
  .iconfont.icon-behance::before {
    content: '\e60f'; }
  .iconfont.icon-twitter::before {
    content: '\e611'; }
  .iconfont.icon-googleplus::before {
    content: '\e612'; }
  .iconfont.icon-dribbble::before {
    content: '\e610'; }
  .iconfont.icon-github::before {
    content: '\e60e'; }
  .iconfont.icon-arrow-left::before {
    content: '\e91a'; }
  .iconfont.icon-arrow-right::before {
    content: '\e636'; }
