a {
  color: #24292e;
  text-decoration: none; }
  a:hover {
    color: #5694f1; }

body {
  font-family: -apple-system, system-ui, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif; }
