@import url(reset.css);
#container {
  max-width: 768px;
  margin: 0 auto 75px;
  padding: 0 40px; }
  @media screen and (max-width: 600px) {
    #container {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0 20px; } }

#panel {
  background-color: white; }

a {
  color: #24292e;
  text-decoration: none; }
  a:hover {
    color: #5694f1; }

body {
  font-family: -apple-system, system-ui, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif; }

@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue.otf"); }

@font-face {
  font-family: 'BEYNO';
  src: url("../fonts/BEYNO.ttf"); }

@font-face {
  font-family: 'iconfont';
  /* project id 1136188 */
  src: url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.eot");
  src: url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.woff2") format("woff2"), url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.woff") format("woff"), url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.ttf") format("truetype"), url("//at.alicdn.com/t/font_1136188_ckrn9xy1f8.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
  .iconfont.icon-behance::before {
    content: '\e60f'; }
  .iconfont.icon-twitter::before {
    content: '\e611'; }
  .iconfont.icon-googleplus::before {
    content: '\e612'; }
  .iconfont.icon-dribbble::before {
    content: '\e610'; }
  .iconfont.icon-github::before {
    content: '\e60e'; }
  .iconfont.icon-arrow-left::before {
    content: '\e91a'; }
  .iconfont.icon-arrow-right::before {
    content: '\e636'; }

.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-cf::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

#nav {
  margin-bottom: 20px;
  padding: 20px 0 0 0;
  background-color: #ffffff; }
  #nav > .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px; }
    #nav > .header > .title {
      font-size: 32px;
      line-height: 48px;
      color: #24292e;
      font-family: BEYNO; }
      #nav > .header > .title:hover {
        opacity: .7; }
      @media screen and (max-width: 600px) {
        #nav > .header > .title {
          font-size: 42px; } }
  #nav > .header > .menu {
    text-align: right;
    padding: 10px 0 0 0; }
  @media screen and (max-width: 600px) {
    #nav > .header {
      flex-direction: column; }
      #nav > .header > .menu {
        text-align: center;
        margin-top: 18px;
        padding: 0; } }
  #nav .nav-menu {
    font-family: BebasNeue;
    font-size: 18px;
    line-height: 24px;
    color: #647382;
    margin-left: 10px; }
    #nav .nav-menu:hover {
      opacity: 1;
      color: #5694f1; }
    #nav .nav-menu:first-child {
      margin-left: 0; }
    #nav .nav-menu.z-active {
      position: relative;
      color: #46515C; }
      #nav .nav-menu.z-active::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
        height: 2px;
        background-color: #5694f1; }
    @media screen and (max-width: 600px) {
      #nav .nav-menu {
        margin-left: 10px;
        font-size: 18px; } }
  @media screen and (max-width: 600px) {
    #nav {
      text-align: center;
      margin-bottom: 24px; } }

#footer {
  margin-top: 80px;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.8;
  color: #24292e; }
  #footer .nav-icn {
    float: left;
    color: #ABB3BA;
    margin-right: 15px;
    line-height: 24px;
    font-size: 24px;
    font-style: normal;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 50%; }
    #footer .nav-icn:last-child {
      margin-right: 0; }
    @media screen and (max-width: 600px) {
      #footer .nav-icn {
        float: none;
        font-size: 32px;
        font-style: normal; } }
  #footer .nav-icn.iconfont.icon-dribbble:hover {
    color: #EA4c89; }
  #footer .nav-icn.iconfont.icon-behance:hover {
    color: #0057ff; }
  #footer .nav-icn.iconfont.icon-twitter:hover {
    color: #1da1f2; }
  #footer .nav-icn.iconfont.icon-googleplus:hover {
    color: #DD4B39; }
  #footer .nav-icn.iconfont.icon-github:hover {
    color: #24292e;
    opacity: .7; }
  #footer .email {
    float: right; }
  @media screen and (max-width: 600px) {
    #footer {
      margin-top: 40px;
      text-align: center; }
      #footer .email {
        display: block;
        float: none;
        font-size: 16px;
        margin-top: 10px; } }

.pagination {
  padding: 20px;
  background-color: white;
  text-align: center; }
  .pagination > .prev, .pagination > .next {
    margin: 0 10px; }
  .pagination > .page-number {
    margin: 0 10px; }
    .pagination > .page-number.current {
      color: #03A87C;
      font-weight: 500; }

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0 56px 0;
  margin: 0;
  background-color: white;
  border-bottom: 1px solid #e9ecf0;
  color: #24292e; }
  .project-card > .imgWrap {
    width: 280px;
    height: 210px;
    margin-right: 60px;
    background-color: #f8f8f8; }
    .project-card > .imgWrap > img {
      width: 100%;
      height: 100%; }
  .project-card > .ctnWrap {
    flex: 1;
    word-wrap: break-word;
    word-break: break-all; }
    .project-card > .ctnWrap > .title {
      font-weight: 600;
      font-size: 28px;
      line-height: 40px; }
      .project-card > .ctnWrap > .title:hover {
        opacity: 1;
        color: #5694f1; }
    .project-card > .ctnWrap > .desc {
      font-size: 16px;
      line-height: 30px;
      margin-top: 20px;
      margin-bottom: 15px; }
    .project-card > .ctnWrap > .sub {
      font-size: 16px;
      line-height: 30px;
      opacity: .5; }
  .project-card.project-card-continuous {
    flex-direction: row-reverse;
    margin: 0;
    position: relative; }
    .project-card.project-card-continuous > .imgWrap {
      margin-right: 0;
      margin-left: 40px; }
    .project-card.project-card-continuous::after {
      content: '';
      position: absolute;
      left: 100px;
      right: 100px;
      bottom: 0;
      height: 1px;
      background-color: #e5e5e5; }
    @media screen and (max-width: 600px) {
      .project-card.project-card-continuous {
        flex-direction: column;
        padding: 20px; }
        .project-card.project-card-continuous > .imgWrap {
          margin-left: 0;
          margin-bottom: 20px; }
        .project-card.project-card-continuous::after {
          left: 20px;
          right: 20px; } }
  @media screen and (max-width: 600px) {
    .project-card {
      flex-direction: column;
      padding: 10px;
      margin: 10px 0; }
      .project-card > .imgWrap {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        height: 240px; } }

.article {
  margin: 64px 0 80px;
  padding: 0px 0px 0;
  background-color: white;
  color: #24292e;
  font-size: 16px;
  line-height: 30px; }
  .article > .title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center; }
    @media screen and (max-width: 600px) {
      .article > .title {
        text-align: left; } }
  .article > .sub {
    opacity: .5;
    margin-bottom: 20px;
    text-align: center; }
    @media screen and (max-width: 600px) {
      .article > .sub {
        text-align: left; } }
  .article > .content {
    padding-bottom: 64px; }
    .article > .content h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 40px;
      margin-bottom: 15px; }
    .article > .content h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 36px;
      margin-bottom: 15px; }
    .article > .content h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      margin-bottom: 15px; }
    .article > .content h4 {
      font-size: 16px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 15px; }
    .article > .content h5 {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 15px; }
    .article > .content p {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 15px; }
    .article > .content pre, .article > .content .highlight {
      overflow: auto;
      padding: 0;
      margin-bottom: 15px;
      color: #5b5d67;
      background: #f8f8f8; }
      .article > .content pre .gutter, .article > .content .highlight .gutter {
        text-align: right; }
        .article > .content pre .gutter pre, .article > .content .highlight .gutter pre {
          background-color: #f0f0f0;
          padding: 0 10px; }
      .article > .content pre .code, .article > .content .highlight .code {
        padding: 0 10px; }
    .article > .content pre {
      margin-bottom: 0px; }
    .article > .content img {
      width: 100%;
      padding: 0px; }
      @media screen and (max-width: 600px) {
        .article > .content img {
          padding: 0; } }
    .article > .content ul, .article > .content ol {
      margin: 15px 0;
      margin-left: 15px; }
      .article > .content ul > li, .article > .content ol > li {
        padding-left: 20px;
        position: relative; }
        .article > .content ul > li::before, .article > .content ol > li::before {
          content: '';
          position: absolute;
          left: 0;
          top: 15px;
          margin-top: -3px;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: #444; }
    .article > .content a {
      color: #5694f1; }
    .article > .content strong {
      font-weight: 600; }
    .article > .content figure > img {
      display: block; }
    .article > .content figcaption {
      font-size: 14px; }
    .article > .content blockquote {
      border-left: 4px solid #ddd;
      color: #8D97A1;
      border-left: 5px solid #ccc;
      padding-left: 15px;
      font-size: 16px;
      margin-bottom: 15px; }
      .article > .content blockquote > :last-child {
        margin-bottom: 0; }
    .article > .content * {
      max-width: 100%; }
  .article > footer {
    padding: 40px 0;
    border-top: solid 1px #eee; }
    .article > footer > .link {
      font-size: 16px;
      line-height: 22px;
      max-width: 50%; }
  @media screen and (max-width: 600px) {
    .article {
      padding: 20px 20px 0;
      margin: 20px 0; }
      .article > footer {
        padding: 10px 0; } }

.archive {
  padding: 80px 0px;
  background-color: white; }
  @media screen and (max-width: 600px) {
    .archive {
      padding: 20px; } }

.archive-category > .title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600; }

.archive-category > .menu {
  margin-bottom: 70px; }
  .archive-category > .menu > li {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    line-height: 24px; }
    .archive-category > .menu > li > a:hover {
      opacity: 1;
      color: #5694f1; }
    .archive-category > .menu > li > span {
      opacity: .45;
      font-size: 14px;
      min-width: 90px;
      text-align: right; }

.archive-category:last-child > .menu {
  margin-bottom: 0; }

.about {
  background-color: white;
  min-height: 300px;
  padding: 20px 0 0 0;
  font-size: 16px;
  line-height: 30px; }
  .about a {
    color: #5F6EEF; }
  .about .content {
    text-align: center; }
    @media screen and (max-width: 600px) {
      .about .content {
        padding: 0 30px 0 30px; } }
  .about .title {
    font-size: 32px;
    margin: 0 auto 30px auto; }
  .about .avatar {
    width: 80px;
    height: 80px; }
  .about .bio {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 60px;
    color: #8D97A1; }
    @media screen and (max-width: 600px) {
      .about .bio {
        margin-bottom: 30px; } }
  .about table {
    width: 100%; }
  .about th, .about td {
    text-align: left;
    border-bottom: 1px solid #f2f4f7;
    padding: 7px 14px;
    color: #46515C;
    line-height: 60px; }
  .about th {
    font-weight: 600;
    width: 46%; }

.tagcloud {
  background-color: white;
  padding: 30px 0 60px 0; }
  .tagcloud > a {
    display: inline-block;
    padding: 10px;
    background-color: #F4f5f6; }
  @media screen and (max-width: 600px) {
    .tagcloud {
      padding: 60px 40px 60px 40px; } }
