@charset "UTF-8";
@import url(reset.css);
@import url(/themes/ayrton/source/css/global.scss);
@import url(/themes/ayrton/source/css/global.scss);
@import url(/themes/ayrton/source/css/global.scss);
#container {
  max-width: 1024px;
  margin: 60px auto 75px;
  padding: 0 40px; }
  @media screen and (max-width: 600px) {
    #container {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0 16px; } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: 0; }

img {
  pointer-events: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul li {
  list-style-type: none; }

a {
  color: #35495D;
  text-decoration: none; }
  a:hover {
    color: #5694f1; }

hr {
  border: 1px solid #f5f5f5; }

body {
  font-family: -apple-system, system-ui, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif; }

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
a::selection,
section::selection {
  background: #1d1d22;
  color: #ffffff; }

P > span::selection, u::selection, code::selection, em::selection, strong::selection {
  background: #1d1d22;
  color: #ffffff; }

.title::selection,
.sub::selection {
  background: #1d1d22;
  color: #ffffff; }

.label-a {
  display: inline-block;
  color: #1DBF71;
  background: #effaf5;
  padding: 2px 10px;
  margin: 0 4px 6px 0;
  border-radius: 6px;
  font-size: 14px;
  word-break: normal; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

@font-face {
  font-family: 'iconfont';
  /* project id 1136188 */
  src: url("//at.alicdn.com/t/font_1136188_l3kprhff3hi.eot");
  src: url("//at.alicdn.com/t/font_1136188_l3kprhff3hi.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1136188_l3kprhff3hi.woff2") format("woff2"), url("//at.alicdn.com/t/font_1136188_l3kprhff3hi.woff") format("woff"), url("//at.alicdn.com/t/font_1136188_l3kprhff3hi.ttf") format("truetype"), url("//at.alicdn.com/t/font_1136188_l3kprhff3hi.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
  .iconfont.icon-behance::before {
    content: '\e60f'; }
  .iconfont.icon-behance-c::before {
    content: '\e61d'; }
  .iconfont.icon-twitter::before {
    content: '\e611'; }
  .iconfont.icon-googleplus::before {
    content: '\e612'; }
  .iconfont.icon-dribbble::before {
    content: '\e610'; }
  .iconfont.icon-dribbble-c::before {
    content: '\e61c'; }
  .iconfont.icon-github::before {
    content: '\e60e'; }
  .iconfont.icon-arrow-left::before {
    content: '\e91a'; }
  .iconfont.icon-arrow-right::before {
    content: '\e636'; }

.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-cf::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

#nav {
  z-index: 102;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 0 0 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: saturate(176%) blur(10px);
  -webkit-backdrop-filter: saturate(176%) blur(10px); }
  #nav > .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px; }
    #nav > .header > .title {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 48px;
      color: #35495D; }
      #nav > .header > .title img {
        width: 32px;
        padding-top: 8px; }
        #nav > .header > .title img:hover {
          opacity: .9; }
        @media screen and (max-width: 600px) {
          #nav > .header > .title img {
            width: 48px; } }
      #nav > .header > .title:hover {
        opacity: .94; }
      @media screen and (max-width: 600px) {
        #nav > .header > .title {
          font-size: 36px;
          line-height: 36px; } }
  #nav > .header > .menu {
    text-align: right;
    padding: 10px 0 0 0; }
  @media screen and (max-width: 600px) {
    #nav > .header {
      flex-direction: column; }
      #nav > .header > .menu {
        text-align: center;
        margin-top: 18px;
        padding: 0; } }
  #nav .nav-menu {
    font-size: 16px;
    line-height: 24px;
    color: #647382;
    margin-left: 24px; }
    #nav .nav-menu:hover {
      opacity: 1;
      color: #1d1d22; }
    #nav .nav-menu:first-child {
      margin-left: 0; }
    #nav .nav-menu.z-active {
      position: relative;
      color: #5694f1; }
    @media screen and (max-width: 600px) {
      #nav .nav-menu {
        margin-left: 10px;
        font-size: 16px; } }
  @media screen and (max-width: 600px) {
    #nav {
      text-align: center;
      margin-bottom: 24px;
      padding: 20px 0 10px 0; } }
  @media screen and (min-width: 600px) {
    #nav {
      position: fixed;
      top: 0px;
      box-shadow: 0 1px 2px -1px rgba(38, 38, 38, 0.1); } }
  #nav .splash {
    color: #d3d9e0;
    font-size: 16px;
    font-weight: 200;
    padding-left: 20px; }
    #nav .splash:last-child {
      display: none; }

#footer {
  margin: 60px auto 30px;
  padding: 0 40px;
  max-width: 1024px;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.8;
  color: #24292e; }
  #footer .nav-icn {
    float: left;
    color: #24292e;
    margin-right: 15px;
    line-height: 24px;
    font-size: 24px;
    font-style: normal;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 50%; }
    #footer .nav-icn:last-child {
      margin-right: 0; }
    @media screen and (max-width: 600px) {
      #footer .nav-icn {
        float: none;
        font-size: 22px;
        font-style: normal; } }
  #footer .nav-icn.iconfont.icon-dribbble:hover {
    color: #EA4c89; }
  #footer .nav-icn.iconfont.icon-behance:hover {
    color: #0057ff; }
  #footer .nav-icn.iconfont.icon-twitter:hover {
    color: #1da1f2; }
  #footer .nav-icn.iconfont.icon-googleplus:hover {
    color: #DD4B39; }
  #footer .nav-icn.iconfont.icon-github:hover {
    color: #0b0d0f; }
  #footer .email {
    float: right;
    font-weight: 500; }
  @media screen and (max-width: 600px) {
    #footer {
      margin-top: 40px;
      text-align: center; }
      #footer .email {
        font-weight: 400;
        display: block;
        float: none;
        font-size: 16px;
        margin-top: 10px; } }

.pagination {
  padding: 20px;
  background-color: white;
  text-align: center; }
  .pagination > .prev, .pagination > .next {
    margin: 0 10px; }
  .pagination > .page-number {
    margin: 0 10px; }
    .pagination > .page-number.current {
      color: #03A87C;
      font-weight: 500; }

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  margin: 0;
  background-color: white;
  border-bottom: 1px solid #F9F9F9;
  color: #35495D; }
  .project-card > .imgWrap {
    width: 280px;
    height: 210px;
    margin-right: 48px;
    cursor: pointer; }
    .project-card > .imgWrap > img {
      width: 100%;
      height: 100%; }
      .project-card > .imgWrap > img:hover {
        opacity: 0.85; }
  .project-card > .ctnWrap {
    flex: 1;
    word-wrap: break-word;
    word-break: break-all; }
    .project-card > .ctnWrap > .title {
      font-weight: 600;
      font-size: 28px;
      line-height: 40px; }
      .project-card > .ctnWrap > .title:hover {
        opacity: 1;
        color: #5694f1; }
    .project-card > .ctnWrap .title::selection {
      background: #1d1d22;
      color: #ffffff; }
    .project-card > .ctnWrap > .desc {
      font-size: 15px;
      line-height: 30px;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #4c6073;
      letter-spacing: 0.04rem; }
    .project-card > .ctnWrap .desc::selection {
      background: #1d1d22;
      color: #ffffff; }
    .project-card > .ctnWrap > .sub {
      font-size: 15px;
      line-height: 24px;
      color: #aaadb1; }
    .project-card > .ctnWrap .sub::selection {
      background: #1d1d22;
      color: #ffffff; }
  @media screen and (max-width: 600px) {
    .project-card {
      flex-direction: column;
      padding: 40px 10px;
      margin: 10px 0;
      align-items: flex-start; }
      .project-card > .imgWrap {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        height: 100%; } }

.article {
  max-width: 768px;
  margin: 128px auto 80px;
  padding: 0px;
  background-color: white;
  color: #35495D;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px; }
  .article > .title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center; }
    @media screen and (max-width: 600px) {
      .article > .title {
        text-align: left; } }
  .article > .sub {
    color: #aaadb1;
    margin-bottom: 40px;
    text-align: center; }
    @media screen and (max-width: 600px) {
      .article > .sub {
        text-align: left; } }
  .article > .content {
    padding-bottom: 64px; }
    .article > .content h1 {
      font-size: 30px;
      font-weight: 600;
      line-height: 72px;
      margin-bottom: 15px;
      margin-top: 40px;
      border-bottom: 1px solid #eef1f3; }
    .article > .content h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 40px;
      margin-bottom: 15px;
      margin-top: 32px; }
    .article > .content h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 36px;
      margin-bottom: 15px;
      margin-top: 20px; }
    .article > .content h4 {
      font-size: 16px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 15px;
      margin-top: 20px; }
    .article > .content h5 {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 15px;
      margin-top: 20px; }
    .article > .content p {
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 14px; }
    .article > .content p > code {
      text-align: center;
      padding: 4px 6px;
      font-size: 14px;
      color: #178483;
      background-color: #ebf3f1;
      border-radius: 3px;
      letter-spacing: 0.03rem; }
    .article > .content img:not(.uxmp) {
      width: 100%;
      padding: 0;
      margin: 10px 0 0 0; }
    .article > .content a {
      color: #5694f1; }
    .article > .content strong {
      font-weight: 600; }
    .article > .content figure > img {
      display: block; }
    .article > .content figcaption {
      font-size: 14px; }
    .article > .content pre {
      font-size: 14px;
      border-radius: 4px; }
      .article > .content pre > .hljs {
        color: #bfbfbf; }
      .article > .content pre code::selection {
        background: #178483; }
      .article > .content pre span::selection {
        background: #178483; }
    .article > .content blockquote {
      padding: 15px 0 15px 0;
      color: #466994;
      border-left: 4px solid #68a4ff;
      padding: 12px 12px;
      margin: 15px 0 15px 0;
      background-color: #f2f6fa; }
      .article > .content blockquote > p {
        font-size: 14px; }
      .article > .content blockquote > :last-child {
        margin-bottom: 0; }
  .article > footer {
    padding: 40px 0;
    border-top: solid 1px #eee; }
    .article > footer .arrow {
      border-radius: 3px;
      color: #5694f1;
      background: #F0F8FF;
      padding: 4px;
      margin: 6px 3px 0 0; }
    .article > footer .link {
      font-size: 15px;
      line-height: 22px;
      max-width: 50%;
      text-overflow: clip; }
  @media screen and (max-width: 600px) {
    .article {
      padding: 20px 14px 0;
      margin: 20px 0; }
      .article > footer {
        padding: 10px 0; } }

table {
  width: 100%;
  max-width: 768px;
  margin: 18px 0 18px 0;
  word-wrap: break-word;
  word-break: break-all;
  color: #35495D; }
  table th {
    padding: 10px 20px;
    border: 1px solid #e4e7eb;
    background-color: #f8f8f8; }
  table tr, table td {
    border: 1px solid #e4e7eb;
    padding: 10px 20px;
    /*竖直居中*/
    vertical-align: middle; }
    table tr:hover, table td:hover {
      background-color: #F9Fafc; }
  table th::selection, table tr::selection, table td::selection {
    background: #1d1d22;
    color: #ffffff; }

table td:nth-child(1) {
  /*首列不换行*/
  white-space: nowrap; }

.backup {
  float: left;
  font-size: 20px;
  color: #8c8f96; }
  @media screen and (max-width: 600px) {
    .backup {
      float: none;
      padding: 0px 0px 0px 16px; } }

.post_cnt ul::selection,
.post_cnt ol::selection,
.post_cnt li::selection {
  background: #1d1d22;
  color: #ffffff; }

.post_cnt ul, .post_cnt ol {
  margin: 15px 0 15px 15px;
  list-style: none; }
  .post_cnt ul > li, .post_cnt ol > li {
    padding-left: 20px;
    position: relative; }
    .post_cnt ul > li::before, .post_cnt ol > li::before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      left: 0;
      top: 15px;
      margin-top: -3px;
      width: 6px;
      height: 6px;
      background-color: #aaadb1; }
  .post_cnt ul > li li, .post_cnt ol > li li {
    padding-left: 20px;
    position: relative; }
    .post_cnt ul > li li::before, .post_cnt ol > li li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 15px;
      margin-top: -3px;
      width: 6px;
      height: 6px;
      border: 1px solid #aaadb1;
      background-color: rgba(243, 243, 243, 0); }

.card-content {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 600px) {
    .card-content {
      flex-direction: column; } }

.card-link {
  width: 20%;
  box-sizing: border-box;
  border: 1px solid #efefef;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 12px 12px 0; }
  .card-link:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    color: #5694f1; }
  @media screen and (max-width: 600px) {
    .card-link {
      width: 100%; } }

@media screen and (max-width: 600px) {
  .card-link a {
    display: flex;
    flex-direction: row; } }

#card-img {
  display: block;
  margin: 0;
  border-radius: 6px; }
  @media screen and (max-width: 600px) {
    #card-img {
      width: 80px;
      height: 80px; } }

.card-content .card-link .card-title {
  font-size: 14px;
  padding: 8px 16px;
  text-align: center;
  line-height: 22px;
  color: #35495D;
  margin: 0; }
  @media screen and (max-width: 600px) {
    .card-content .card-link .card-title {
      text-align: left;
      justify-content: center;
      align-items: center;
      margin: auto 0; } }

.progress-bar {
  display: block;
  margin: 16px 0 32px 0; }

.progress-bar .progress-step {
  display: flex;
  flex-direction: row; }

.step-unit {
  width: 33%;
  display: flex;
  flex-direction: column;
  padding-right: 3px;
  align-items: center; }

.step-indicator {
  display: block;
  background: #E4E6EB;
  width: 100%;
  height: 8px;
  border-radius: 2px; }

.step-indicator-active {
  display: block;
  background: #5694f1;
  width: 100%;
  height: 8px;
  border-radius: 2px; }

.step-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  text-align: center;
  color: #aaadb1;
  font-size: 14px;
  line-height: 14px;
  margin-top: 14px; }

.name-active {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  margin-top: 14px;
  color: #5694f1; }

.image-desc {
  font-size: 14px;
  color: #AFAFAF;
  text-align: center;
  margin: 0 auto;
  line-height: 22px; }

.caption-image {
  font-size: 15px;
  color: #8c8c8c;
  text-align: center;
  margin: -16px 0 20px 0;
  line-height: 22px; }

.caption-light {
  font-size: 16px;
  color: #aaadb1;
  text-align: left; }

.caption-yellow {
  text-align: left;
  font-weight: 900;
  color: #8C5200;
  border-bottom: 1px solid #F0F0F0;
  padding: 16px 0px;
  margin: 40px 0px; }
  @media screen and (max-width: 600px) {
    .caption-yellow {
      text-align: center; } }

.caption-green {
  text-align: left;
  font-weight: 900;
  color: #106369;
  border-bottom: 1px solid #F0F0F0;
  padding: 16px 0px;
  margin: 40px 0px; }
  @media screen and (max-width: 600px) {
    .caption-green {
      text-align: center; } }

.question {
  background: rgba(255, 243, 190, 0.25);
  color: #bd8708;
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  width: 80px;
  margin: 32px 0 12px 0; }
  @media screen and (max-width: 600px) {
    .question {
      margin: 32px auto 12px auto; } }

.optimization {
  background: rgba(43, 168, 118, 0.08);
  color: #178483;
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  width: 80px;
  margin: 32px 0 12px 0; }
  @media screen and (max-width: 600px) {
    .optimization {
      margin: 32px auto 12px auto; } }

.label-yellow {
  text-align: center;
  padding: 4px 6px;
  margin: 0 4px 4px 0;
  font-size: 13px;
  line-height: 17px;
  color: #FFB71D;
  background-color: #FFF9EB;
  border: 1px solid #FFE5AD;
  border-radius: 3px;
  letter-spacing: 0.03rem; }

.label-gray {
  text-align: center;
  padding: 4px 6px;
  margin: 0 4px 4px 0;
  font-size: 13px;
  line-height: 17px;
  color: #404040;
  background-color: #F4F4F6;
  border: 1px solid #E7E7E8;
  border-radius: 3px;
  letter-spacing: 0.03rem; }

.svg-container {
  display: -webkit-box;
  border: 1px solid #eef1f3;
  height: 500px;
  border-radius: 4px;
  overflow: scroll; }

.about {
  background-color: white;
  min-height: 300px;
  padding: 20px 0 0 0;
  font-size: 16px;
  line-height: 30px; }
  .about a {
    color: #5694f1; }
  .about .content {
    text-align: center; }
  .about .avatar {
    border-radius: 50%; }
  .about .title {
    font-size: 32px;
    margin: 0 auto 30px auto; }
  .about .avatar {
    width: 80px;
    height: 80px; }
  .about .bio {
    font-size: 15px;
    line-height: 30px;
    margin: 0px 0 20px 0;
    color: #8D97A1; }
    @media screen and (max-width: 600px) {
      .about .bio {
        margin-bottom: 30px; } }
  .about article {
    border: 1px solid #e7eaee;
    border-radius: 8px;
    padding: 20px 0px 20px 30px;
    margin: 42px 0 0 0px; }
    .about article .main-title {
      text-align: left;
      margin: 6px 0;
      font-size: 22px;
      color: #46515C; }
  .about table {
    max-width: 1024px; }
  .about .table-info {
    width: 100%;
    margin: 18px 0 0 0; }
    .about .table-info th, .about .table-info tr, .about .table-info td {
      border-bottom: none;
      border-right: none;
      border-left: none; }
    .about .table-info th, .about .table-info td {
      text-align: left;
      border-top: 1px solid #f2f4f7;
      padding: 24px 14px 24px 0;
      color: #46515C;
      background-color: #ffffff; }
    .about .table-info th {
      font-size: 13px;
      font-weight: 500;
      width: 25%; }
      @media screen and (max-width: 600px) {
        .about .table-info th {
          width: 30%; } }
    .about .table-info span {
      line-height: 28px; }

.pflo {
  margin-top: 100px; }
  @media screen and (max-width: 600px) {
    .pflo {
      margin-top: 0px; } }
  .pflo ul {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 16px; }
  .pflo li {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px; }
    .pflo li:hover {
      animation: tapAnimation 0.4s cubic-bezier(0.31, 1, 0.34, 1) forwards; }

@keyframes tapAnimation {
  100% {
    background-color: #f2f2f2; } }
      .pflo li:hover .icon-link {
        transform: scale(1.1); }
    @media screen and (max-width: 600px) {
      .pflo li {
        width: 100%; } }
  .pflo .cont-img {
    border-radius: 6px;
    padding-bottom: 74%;
    height: 0;
    overflow: hidden; }
  .pflo .bg-placeholder {
    position: relative;
    padding-bottom: 74%;
    height: 0; }
  .pflo img {
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: 0; }
    .pflo img:hover {
      opacity: .92; }
  .pflo .info {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 8px 4px;
    color: #333;
    text-align: left; }
    .pflo .info .pflt-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 6px; }
    .pflo .info .icon-link {
      font-size: 18px;
      transition: all 0.4s ease; }
    .pflo .info h3 {
      margin: 4px 0;
      font-size: 14px;
      font-weight: 600; }
      @media screen and (max-width: 600px) {
        .pflo .info h3 {
          font-size: 16px; } }
    .pflo .info p {
      margin: 4px 0;
      font-size: 14px;
      color: #647382; }

.figure-mmfbook {
  background: #fda488; }

.figure-idata {
  background: #ffffff; }

#toc {
  z-index: 100;
  position: fixed;
  right: 0px;
  top: 100px;
  width: 200px;
  height: 84%;
  padding: 20px 10px 10px 28px;
  margin-bottom: 32px;
  display: none;
  background-color: rgba(255, 255, 255, 0.96);
  font-size: 0.8em;
  color: #afafaf;
  border-left: 1px solid #f0f0f0;
  overflow: scroll; }
  #toc a {
    color: #81808b; }
  #toc ul > li, #toc ol > li {
    padding-bottom: 8px;
    list-style-type: upper-roman; }
  #toc ul > li ol, #toc ol > li ol {
    margin: 0; }
  #toc ul > li li, #toc ol > li li {
    padding: 0px;
    margin-left: 14px;
    list-style-type: lower-roman; }
  @media screen and (max-width: 600px) {
    #toc {
      font-size: .9em;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      bottom: 0px; } }
  @media screen and (min-width: 601px) and (max-width: 1279px) {
    #toc {
      right: 0px;
      top: 60px;
      height: 100%;
      bottom: 0px;
      box-shadow: -10px 4px 6px -10px rgba(38, 38, 38, 0.12); } }
  @media screen and (min-width: 1280px) {
    #toc {
      display: block; } }

#toc::-webkit-scrollbar {
  display: none; }

#toc {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }

.toc {
  margin: 10px 0 40px 6px; }

.mini_toc {
  display: block;
  z-index: 101;
  width: 36px;
  height: 36px;
  background-color: #16202b;
  text-align: center;
  position: fixed;
  right: -1px;
  top: 72px;
  cursor: pointer;
  box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 1280px) {
    .mini_toc {
      display: none; } }

.toc_icn {
  position: relative;
  height: 20px;
  width: 14px;
  margin: 10px auto;
  cursor: pointer; }
  .toc_icn span {
    position: absolute;
    display: block;
    background-color: #FFFFFF;
    height: 2px;
    width: 14px;
    transition: all .25s ease-in-out; }
  .toc_icn span:nth-child(1) {
    top: 0px; }
  .toc_icn span:nth-child(2) {
    top: 8px; }
  .toc_icn span:nth-child(3) {
    top: 8px; }
  .toc_icn span:nth-child(4) {
    top: 16px; }
  .toc_icn span:nth-child(1).op {
    top: 8px;
    /* width: 0px; */
    transition: all .15s ease;
    transform: scaleX(0); }
  .toc_icn span:nth-child(2).op {
    transform: rotate(45deg); }
  .toc_icn span:nth-child(3).op {
    transform: rotate(-45deg); }
  .toc_icn span:nth-child(4).op {
    top: 8px;
    /* width: 0px; */
    transition: all .15s ease;
    transform: scaleX(0); }

.mini_toc:hover {
  box-shadow: 0 4px 12px -3px rgba(0, 0, 0, 0.2); }
