#container {
  max-width: 860px;
  margin: 20px auto 75px;
  padding: 0 15px; }
  @media screen and (max-width: 600px) {
    #container {
      margin-top: 20px;
      margin-bottom: 20px; } }

#panel {
  background-color: white; }
